openapi: 3.0.0

info:
  title: GitHub Repository Management API
  version: 1.0.0
  description: |
    A focused subset of the GitHub REST API covering:
    - Repository management
    - Issue tracking
    - Pull request workflows

servers:
  - url: https://api.github.com
    description: GitHub REST API

tags:
  - name: Repositories
  - name: Issues
  - name: Pull Requests

security:
  - bearerAuth: []

paths:

  # =========================
  # REPOSITORIES
  # =========================

  /user/repos:
    get:
      tags: [Repositories]
      summary: List authenticated user repositories
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden or rate limit exceeded

    post:
      tags: [Repositories]
      summary: Create a repository
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                description:
                  type: string
                private:
                  type: boolean
      responses:
        '201':
          description: Repository created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /repos/{owner}/{repo}:
    patch:
      tags: [Repositories]
      summary: Update a repository
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                private:
                  type: boolean
      responses:
        '200':
          description: Repository updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Repository not found

  # =========================
  # ISSUES
  # =========================

  /repos/{owner}/{repo}/issues:
    get:
      tags: [Issues]
      summary: List repository issues
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Repository not found

    post:
      tags: [Issues]
      summary: Create an issue
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                body:
                  type: string
      responses:
        '201':
          description: Issue created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Repository not found

  /repos/{owner}/{repo}/issues/{issue_number}:
    patch:
      tags: [Issues]
      summary: Update an issue
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: issue_number
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                state:
                  type: string
                  enum: [open, closed]
      responses:
        '200':
          description: Issue updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Issue not found

  # =========================
  # PULL REQUESTS
  # =========================

  /repos/{owner}/{repo}/pulls:
    get:
      tags: [Pull Requests]
      summary: List pull requests
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Repository not found

    post:
      tags: [Pull Requests]
      summary: Create a pull request
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, head, base]
              properties:
                title:
                  type: string
                body:
                  type: string
                head:
                  type: string
                base:
                  type: string
      responses:
        '201':
          description: Pull request created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Repository not found

  /repos/{owner}/{repo}/pulls/{pull_number}:
    patch:
      tags: [Pull Requests]
      summary: Update a pull request
      parameters:
        - name: owner
          in: path
          required: true
          schema:
            type: string
        - name: repo
          in: path
          required: true
          schema:
            type: string
        - name: pull_number
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                state:
                  type: string
                  enum: [open, closed]
      responses:
        '200':
          description: Pull request updated
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Pull request not found

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PersonalAccessToken